# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# MacOS files
.DS_Store

# Misc
Rplots.pdf
inst/doc

.positai
docs

# Exports from dev/examples.R
dev/output/

# myutil::release_check() output
.release_check_result.rds
